# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
.env/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore macOS specific files
.DS_Store